{% extends 'dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}TUA 23 - Texcoco{% endblock title %}


{% block extracss %}
<style>
    .dashboard .proyectadas-card .card-icon {
        color: #4154f1;
        background: #f6f6fe;
    }

    .dashboard .anteriores-card .card-icon {
        color: #2eca6a;
        background: #e0f8e9;
    }

    .dashboard .tramite-card .card-icon {
        color: #ff771d;
        background: #ffecdf;
    }

    .dashboard .turnadas-card .card-icon {
        color: #055160;
        background: #d8f7fd;
    }

    .dashboard .convenios-card .card-icon {
        color: #0f5132;
        background: #ddf9ec;
    }

    .dashboard .ingresos-card .card-icon {
        color: #41464b;
        background: #e9ebec;
    }

    .dashboard .archivados-card .card-icon {
        color: #842029;
        background: #f7dee0;
    }
</style>

{% endblock extracss %}




{% block main %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Tribunal Unitario Agrario 23 | Año {{resumen.anio}}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Home</a></li>
                <li class="breadcrumb-item active">Año {{resumen.anio}}</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">

                <div class="row">

                    <!-- Sentencias Proyectadas Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card proyectadas-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Sentencias Proyectadas <span>| Total</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-file-text"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{resumen.sentencias|intcomma}}</h6>
                                        <!-- <span class="text-success small pt-1 fw-bold">12%</span> 
                                        <span class="text-muted small pt-2 ps-1">increase</span> -->

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Asuntos En Tramite Anteriores Y 2019 Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card anteriores-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Comparativo</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Anteriores y 2019 <span>| Porcentaje</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-file-text"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{resumen.porcentaje_asuntos_anteriores}}</h6>
                                        <!-- <span class="text-success small pt-1 fw-bold">0%</span> <span
                                            class="text-muted small pt-2 ps-1">increase</span> -->

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Asuntos En Tramite Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card tramite-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">A. En Tramite <span>| Comparativo</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-file-text"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6><span class="h5">Ene:</span> {{resumen.primer_mes_asuntos_tramite|intcomma}}
                                        </h6>
                                        <h6><span class="h5">Dic:</span> {{resumen.ultimo_mes_asuntos_tramite|intcomma}}
                                        </h6>
                                        {% if resumen.ultimo_mes_asuntos_tramite|intcomma > resumen.primer_mes_asuntos_tramite|intcomma %}
                                        <span
                                            class="text-success small pt-1 fw-bold">{{resumen.porcentaje_asuntos_tramite}}</span>
                                        <span class="text-muted small pt-2 ps-1">aumentó</span>
                                        {% else %}
                                        <span
                                            class="text-success small pt-1 fw-bold">{{resumen.porcentaje_asuntos_tramite}}</span>
                                        <span class="text-muted small pt-2 ps-1">disminuyó</span>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!-- Asuntos Turnados A Sentencia Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card turnadas-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">A. Turn. A Sentencia <span>| Comparativo</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-file-text"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6><span class="h5">Ene:</span>
                                            {{resumen.primer_mes_asuntos_turnados|intcomma}}</h6>
                                        <h6><span class="h5">Dic:</span>
                                            {{resumen.ultimo_mes_asuntos_turnados|intcomma}}</h6>
                                        {% if resumen.ultimo_mes_asuntos_tramite|intcomma > resumen.primer_mes_asuntos_tramite|intcomma %}
                                        <span
                                            class="text-success small pt-1 fw-bold">{{resumen.porcentaje_asuntos_turnados}}</span>
                                        <span class="text-muted small pt-2 ps-1">disminuyó</span>
                                        {% else %}
                                        <span
                                            class="text-success small pt-1 fw-bold">{{resumen.porcentaje_asuntos_turnados}}</span>
                                        <span class="text-muted small pt-2 ps-1">aumentó/span>
                                            {% endif %}

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Convenios Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card convenios-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Convenios <span>| Total</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-card-checklist"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{resumen.convenios|intcomma}}</h6>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!-- Ingresos Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card ingresos-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Ingresos <span>| Total</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-arrow-bar-down"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{resumen.ingresos|intcomma}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Archivados Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card archivados-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Archivados <span>| Total</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-archive"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{resumen.archivados|intcomma}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Table -->
                    <div class="col-12">
                        <div class="card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Asuntos En Tramite Anteriores Y 2019 <span>/Mes</span></h5>

                                <!-- Line Chart -->
                                <div id="reportsChart"></div>


                                <!-- End Line Chart -->

                            </div>

                        </div>
                    </div>

                    <!-- Itinerancias -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Itinerancias <span>| Realizadas/año</span></h5>

                                <table class="table table-borderless text-start datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Municipio/Sede</th>
                                            <th scope="col">Poblado/Sede</th>
                                            <th scope="col">Municipios Atendidos</th>
                                            <th scope="col">Total/Asuntos</th>
                                            <th scope="col">Sentencias</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for itinerancia in resumen.itinerancias %}
                                        <tr>
                                            <td><a href="{% url 'itinerancia:itinerancia_detail' itinerancia.pk %}" class="text-primary fw-bold">{{itinerancia.fecha}}</a></td>
                                            <td>{{itinerancia.municipio_sede}}</td>
                                            <td>{{itinerancia.poblado_sede}}</td>
                                            <td>{{itinerancia.municipios_atendidos}}</td>
                                            <td class="text-success">{{itinerancia.total_asuntos}}</td>
                                            <td class="text-success">{{itinerancia.sentencias}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Visitas de Inspeccion -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body pb-0">
                                <h5 class="card-title">Visitas de Inspección <span>| Año</span></h5>

                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Inicio de Período</th>
                                            <th scope="col">Corte de Período</th>
                                            <th scope="col">Resultado</th>
                                            <th scope="col">Realizó</th>
                                            <th scope="col">Duración</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for visita in resumen.visitas_de_inspeccion %}
                                        <tr>
                                            <td><a href="{% url 'visita:visita_detail' visita.pk %}" class="text-primary fw-bold">{{visita.fecha_realizacion}}</a></td>
                                            <td>{{visita.fecha_inicio_periodo_insp}}</td>
                                            <td class="fw-bold">{{visita.fecha_corte_periodo_insp}}</td>
                                            <td>{{visita.resultado|default:''}}</td>
                                            <td>{{visita.realizo}}</td>
                                            <td>{{visita.calculo_duracion}}</td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Right side columns -->
            <div class="col-lg-4">

                <!-- Recent Activity -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Recent Activity <span>| Today</span></h5>

                        <div class="activity">

                            <div class="activity-item d-flex">
                                <div class="activite-label">32 min</div>
                                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                <div class="activity-content">
                                    Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a>
                                    beatae
                                </div>
                            </div>

                            <div class="activity-item d-flex">
                                <div class="activite-label">56 min</div>
                                <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                                <div class="activity-content">
                                    Voluptatem blanditiis blanditiis eveniet
                                </div>
                            </div>

                            <div class="activity-item d-flex">
                                <div class="activite-label">2 hrs</div>
                                <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                                <div class="activity-content">
                                    Voluptates corrupti molestias voluptatem
                                </div>
                            </div>

                            <div class="activity-item d-flex">
                                <div class="activite-label">1 day</div>
                                <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                                <div class="activity-content">
                                    Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati
                                        voluptatem</a> tempore
                                </div>
                            </div>

                            <div class="activity-item d-flex">
                                <div class="activite-label">2 days</div>
                                <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                                <div class="activity-content">
                                    Est sit eum reiciendis exercitationem
                                </div>
                            </div>

                            <div class="activity-item d-flex">
                                <div class="activite-label">4 weeks</div>
                                <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                                <div class="activity-content">
                                    Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- End Recent Activity -->

                <!-- Budget Report -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>

                    <div class="card-body pb-0">
                        <h5 class="card-title">Budget Report <span>| This Month</span></h5>

                        <div id="budgetChart" style="min-height: 400px;" class="echart"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                                    legend: {
                                        data: ['Allocated Budget', 'Actual Spending']
                                    },
                                    radar: {
                                        // shape: 'circle',
                                        indicator: [{
                                            name: 'Sales',
                                            max: 6500
                                        },
                                        {
                                            name: 'Administration',
                                            max: 16000
                                        },
                                        {
                                            name: 'Information Technology',
                                            max: 30000
                                        },
                                        {
                                            name: 'Customer Support',
                                            max: 38000
                                        },
                                        {
                                            name: 'Development',
                                            max: 52000
                                        },
                                        {
                                            name: 'Marketing',
                                            max: 25000
                                        }
                                        ]
                                    },
                                    series: [{
                                        name: 'Budget vs spending',
                                        type: 'radar',
                                        data: [{
                                            value: [4200, 3000, 20000, 35000, 50000, 18000],
                                            name: 'Allocated Budget'
                                        },
                                        {
                                            value: [5000, 14000, 28000, 26000, 42000, 21000],
                                            name: 'Actual Spending'
                                        }
                                        ]
                                    }]
                                });
                            });
                        </script>

                    </div>
                </div><!-- End Budget Report -->

                <!-- Website Traffic -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>

                    <div class="card-body pb-0">
                        <h5 class="card-title">Website Traffic <span>| Today</span></h5>

                        <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                echarts.init(document.querySelector("#trafficChart")).setOption({
                                    tooltip: {
                                        trigger: 'item'
                                    },
                                    legend: {
                                        top: '5%',
                                        left: 'center'
                                    },
                                    series: [{
                                        name: 'Access From',
                                        type: 'pie',
                                        radius: ['40%', '70%'],
                                        avoidLabelOverlap: false,
                                        label: {
                                            show: false,
                                            position: 'center'
                                        },
                                        emphasis: {
                                            label: {
                                                show: true,
                                                fontSize: '18',
                                                fontWeight: 'bold'
                                            }
                                        },
                                        labelLine: {
                                            show: false
                                        },
                                        data: [{
                                            value: 1048,
                                            name: 'Search Engine'
                                        },
                                        {
                                            value: 735,
                                            name: 'Direct'
                                        },
                                        {
                                            value: 580,
                                            name: 'Email'
                                        },
                                        {
                                            value: 484,
                                            name: 'Union Ads'
                                        },
                                        {
                                            value: 300,
                                            name: 'Video Ads'
                                        }
                                        ]
                                    }]
                                });
                            });
                        </script>
                    </div>
                </div><!-- End Website Traffic -->

                

            </div>
        </div>
    </section>
</main>
{% endblock main %}


{% block extrajs %}

<script>

    (function () {
        const asuntos_anteriores = {}
        const asuntos_tramite = {}
        const asuntos_turnados = {}

        '{% for asunto in asuntos_anteriores %}'
        asuntos_anteriores['{{asunto.mes}}'] = '{{asunto.cantidad}}'
        '{% endfor %}'

        '{% for asunto in asuntos_tramite %}'
        asuntos_tramite['{{asunto.mes}}'] = '{{asunto.cantidad}}'
        '{% endfor %}'

        console.log(Object.values(asuntos_anteriores));
        console.log(Object.values(asuntos_tramite));

        document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#reportsChart"), {
                series: [{
                    name: 'A. Tramites anteriores y 2019',
                    data: Object.values(asuntos_anteriores)
                }, {
                    name: 'Asuntos en tramite',
                    data: Object.values(asuntos_tramite)
                }
                ],
                chart: {
                    height: 350,
                    with: "100%",
                    type: 'line',
                    toolbar: {
                        show: false
                    },
                },
                markers: {
                    size: 4
                },
                colors: ['#4154f1', '#2eca6a', '#ff771d'],
                // fill: {
                //     type: "gradient",
                //     gradient: {
                //         shadeIntensity: 1,
                //         opacityFrom: 0.3,
                //         opacityTo: 0.4,
                //         stops: [0, 90, 100]
                //     }
                // },
                // dataLabels: {
                //     enabled: false
                // },
                stroke: {
                    curve: 'straight',
                    width: 3
                },
                xaxis: {
                    categories: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
                },
                // tooltip: {
                //     x: {
                //         format: 'dd/MM/yy HH:mm'
                //     },
                // }
            }).render();
        });
    })()


</script>

{% endblock extrajs %}