{% extends 'itinerancia/base.html' %}

{% block title %}Index{% endblock title %}


{% block content %}
<h1>Listado De Itinerancias</h1>
<br>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Municipio Sede</th>
            <th scope="col">Poblado Sede</th>
            <th scope="col">Total De Asuntos</th>
            <th scope="col">Sentencias</th>
            <th scope="col">Nucleos De Población</th>
            <th scope="col">Periodo</th>
            <th scope="col">Municipios Atendidos</th>
        </tr>
    </thead>
    <tbody>
        {% for itinerancia in itinerancias %}
        <tr>
            <th scope="row">{{itinerancia.id}}</th>
            <td><a href="{{itinerancia.get_absolute_url}}">{{itinerancia.fecha}}</a></td>
            <td>{{itinerancia.municipio_sede}}</td>
            <td>{{itinerancia.poblado_sede}}</td>
            <td>{{itinerancia.total_asuntos}}</td>
            <td>{{itinerancia.sentencias}}</td>
            <td>{{itinerancia.nucleos_poblacion}}</td>
            <td>{{itinerancia.fk_periodo}}</td>
            <td>{{itinerancia.municipios_atendidos}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}